/* ===========================================
 * Form checbox replacement
 * =========================================== */

// HTML:
// 
// <input type="checkbox" id="checkbox-01" class="form__checkbox">               
// <label for="checkbox-01" class="form__label">
//   <span class="form__checkbox-replacement">
//    <svg class="icon-check">
//       <use xlink:href="#icon-check" xmlns:xlink="http://www.w3.org/1999/xlink"/>
//    </svg>
//   </span> Checkbox Text
// </label>

.form {

  &__label {

    &--checkbox {
      font-weight: @font-weight-regular;
    }    
  }

  &__checkbox {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__checkbox[type="checkbox"]:checked + .form__label .form__checkbox-replacement {
    border-color: @color-brand-secondary;
    background-color: @color-brand-secondary;
    background-repeat: no-repeat;
    background-position: center center;

    .icon-check {
      transform: scale(1);
    }
  }

  &__checkbox[type="checkbox"]:focus + .form__label .form__checkbox-replacement {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

  &__checkbox-replacement {
    // Checkbox replacement
    width: 1em;
    height: 1em;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 7px;
    transition: 0.1s ease background-color;

    .icon-check {
      fill: @color-white;
      position: absolute;
      top: 1px;
      left: 1px;
      width: 10px;
      height: 10px;
      transform: scale(0);
      transition: transform .18s ease-in-out;
    }
  }
}