/* ===========================================
 * Form file upload replacement
 * =========================================== */

// HTML:
// 
// <a href="javascript:void(0)" class="button form__upload-replacement js-form__upload-replacement"> Choose File </a>
// <input type="file" class="form__upload">
// 
// JS:
// 
// $('.js-form__upload-replacement').click(function(){
//   $(this).siblings('.form__upload').click();
// });

.form {

  &__upload {
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 14px;
    margin-left: 35px;
  }

  &__upload-replacement {
    position: relative;
    z-index: @z-index-small;
  }
}