/* ===========================================
 * Form message notification
 * =========================================== */

// Highlight input feild
.form__input {
  
  &--error {
    border-color: @color-error;
    background: lighten(@color-error, 35%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:hover,
    &:focus {
      border-color: @color-error;
    }
  }

  &--alert {
    border-color: @color-alert;
    background: lighten(@color-alert, 35%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:hover,
    &:focus {
      border-color: @color-alert;
    }
  }

  &--success {
    border-color: @color-success;
    background: lighten(@color-success, 35%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:hover,
    &:focus {
      border-color: @color-success;
    }
  }
}

.form-message {
  
  // Show message hint bellow input feild
  &__hint { 
    color: #91989e;
    display: block;
    margin-top: 15px;
    padding: 0;
  }

  // Show message bellow input feild
  &__input { 
    .font-size(12);
    font-weight: @font-weight-bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    padding: 3px;
    color: @color-white;
    margin: 0;
    border-bottom-right-radius: @border-radius-small;
    border-bottom-left-radius: @border-radius-small;
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;

    &--error {
      background: @color-error;
    }

    &--alert {
      background: @color-alert;
    }

    &--success {
      background: @color-success;
    }
  }
}