/* ===========================================
 * Form radio replacement
 * =========================================== */

// Radio replacement
// 
// HTML:
// 
// <label for="radio-01" class="form__label">
//   <input type="radio" value="radio-01" name="radio-name" id="radio-01" class="form__radio">
//   <span class="form__radio-replacement">Radio 01</span>
// </label>
// <label for="radio-02" class="form__label">
//   <input type="radio" value="radio-02" name="radio-name" id="radio-02" class="form__radio">
//   <span class="form__radio-replacement">Radio 02</span>
// </label>
// <label for="radio-03" class="form__label">
//   <input type="radio" value="radio-03" name="radio-name" id="radio-03" class="form__radio">
//   <span class="form__radio-replacement">Radio 03</span>
// </label>

.form {

  &__radio[type="radio"] {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
  }

  &__radio[type="radio"] + .form__radio-replacement {
    display: block;
    position: relative;
  }

  // The basic, unchecked style
  &__radio[type="radio"] + .form__radio-replacement:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.2em;
    border-radius: 1em;
    border: 0.15em solid #fff;
    box-shadow: 0 0 0 1px #ccc;
    margin-right: 7px;
    transition: 0.3s ease all;
  }

  // The checked style using the :checked pseudo class
  &__radio[type="radio"]:checked + .form__radio-replacement:before {
    background: @color-brand-secondary;
    box-shadow: 0 0 0 1px #ccc;
  }

  // Additional focus hint
  &__radio[type="radio"]:focus + .form__radio-replacement:after {
    content: '\0020\2193';  // 2190 = left; 2191 = top; 2192 = right; 2193 = bottom;
    position: absolute;
    left: .25em;
    top: -1.15em; 
    color: #666;
  }
  
}