/* Author: Danijel Grabež */
/* ===========================================================
 * Import of all Less files
 * =========================================================== */
/* Helpers
 * =========================================================== */
/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
}
optgroup {
  font-weight: bold;
}
button,
input,
select {
  overflow: visible;
}
button,
input,
select,
textarea {
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}
[disabled] {
  cursor: default;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
// End Normalize 
// =========================================== */
/* ===========================================
 * Global classes
 * =========================================== */
.disable-hover {
  pointer-events: none;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.hide-text {
  text-indent: -99999px;
  direction: ltr;
  font-size: 0;
}
.image-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}
.sr {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.center-element {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animate-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-float {
  float: none;
}
.no-background {
  background: transparent;
}
.no-border {
  border: 0;
}
.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 75em;
}
.container-full {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.push-0,
.push-1,
.push-2,
.push-3,
.push-4,
.push-5,
.push-6,
.push-7,
.push-8,
.push-9,
.push-10,
.push-11,
.push-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
          flex-basis: 0;
  max-width: 100%;
}
.col-1 {
  -ms-flex-preferred-size: 8.33333333%;
  -webkit-flex-basis: 8.33333333%;
          flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.col-2 {
  -ms-flex-preferred-size: 16.66666667%;
  -webkit-flex-basis: 16.66666667%;
          flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.col-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
          flex-basis: 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex-preferred-size: 33.33333333%;
  -webkit-flex-basis: 33.33333333%;
          flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.col-5 {
  -ms-flex-preferred-size: 41.66666667%;
  -webkit-flex-basis: 41.66666667%;
          flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.col-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
          flex-basis: 50%;
  max-width: 50%;
}
.col-7 {
  -ms-flex-preferred-size: 58.33333333%;
  -webkit-flex-basis: 58.33333333%;
          flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.col-8 {
  -ms-flex-preferred-size: 66.66666667%;
  -webkit-flex-basis: 66.66666667%;
          flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.col-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
          flex-basis: 75%;
  max-width: 75%;
}
.col-10 {
  -ms-flex-preferred-size: 83.33333333%;
  -webkit-flex-basis: 83.33333333%;
          flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.col-11 {
  -ms-flex-preferred-size: 91.66666667%;
  -webkit-flex-basis: 91.66666667%;
          flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.col-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
.push-0 {
  margin-left: 0;
}
.push-1 {
  margin-left: 8.33333333%;
}
.push-2 {
  margin-left: 16.66666667%;
}
.push-3 {
  margin-left: 25%;
}
.push-4 {
  margin-left: 33.33333333%;
}
.push-5 {
  margin-left: 41.66666667%;
}
.push-6 {
  margin-left: 50%;
}
.push-7 {
  margin-left: 58.33333333%;
}
.push-8 {
  margin-left: 66.66666667%;
}
.push-9 {
  margin-left: 75%;
}
.push-10 {
  margin-left: 83.33333333%;
}
.push-11 {
  margin-left: 91.66666667%;
}
.start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  text-align: start;
}
.center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  text-align: center;
}
.end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  text-align: end;
}
.top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}
.middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
}
.around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
          justify-content: space-around;
}
.between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  -webkit-order: -1;
          order: -1;
}
.last {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  -webkit-order: 1;
          order: 1;
}
@media only screen and (min-width: 48em) {
  .container {
    width: 49rem;
  }
  .col-tablet,
  .col-tablet-1,
  .col-tablet-2,
  .col-tablet-3,
  .col-tablet-4,
  .col-tablet-5,
  .col-tablet-6,
  .col-tablet-7,
  .col-tablet-8,
  .col-tablet-9,
  .col-tablet-10,
  .col-tablet-11,
  .col-tablet-12,
  .push-tablet-0,
  .push-tablet-1,
  .push-tablet-2,
  .push-tablet-3,
  .push-tablet-4,
  .push-tablet-5,
  .push-tablet-6,
  .push-tablet-7,
  .push-tablet-8,
  .push-tablet-9,
  .push-tablet-10,
  .push-tablet-11,
  .push-tablet-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .col-tablet {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  .col-tablet-1 {
    -ms-flex-preferred-size: 8.33333333%;
    -webkit-flex-basis: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-tablet-2 {
    -ms-flex-preferred-size: 16.66666667%;
    -webkit-flex-basis: 16.66666667%;
            flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-tablet-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .col-tablet-4 {
    -ms-flex-preferred-size: 33.33333333%;
    -webkit-flex-basis: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-tablet-5 {
    -ms-flex-preferred-size: 41.66666667%;
    -webkit-flex-basis: 41.66666667%;
            flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-tablet-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .col-tablet-7 {
    -ms-flex-preferred-size: 58.33333333%;
    -webkit-flex-basis: 58.33333333%;
            flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-tablet-8 {
    -ms-flex-preferred-size: 66.66666667%;
    -webkit-flex-basis: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-tablet-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .col-tablet-10 {
    -ms-flex-preferred-size: 83.33333333%;
    -webkit-flex-basis: 83.33333333%;
            flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-tablet-11 {
    -ms-flex-preferred-size: 91.66666667%;
    -webkit-flex-basis: 91.66666667%;
            flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-tablet-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  .push-tablet-0 {
    margin-left: 0;
  }
  .push-tablet-1 {
    margin-left: 8.33333333%;
  }
  .push-tablet-2 {
    margin-left: 16.66666667%;
  }
  .push-tablet-3 {
    margin-left: 25%;
  }
  .push-tablet-4 {
    margin-left: 33.33333333%;
  }
  .push-tablet-5 {
    margin-left: 41.66666667%;
  }
  .push-tablet-6 {
    margin-left: 50%;
  }
  .push-tablet-7 {
    margin-left: 58.33333333%;
  }
  .push-tablet-8 {
    margin-left: 66.66666667%;
  }
  .push-tablet-9 {
    margin-left: 75%;
  }
  .push-tablet-10 {
    margin-left: 83.33333333%;
  }
  .push-tablet-11 {
    margin-left: 91.66666667%;
  }
  .start-tablet {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-tablet {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    text-align: center;
  }
  .end-tablet {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-tablet {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
  .middle-tablet {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
  }
  .bottom-tablet {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end;
  }
  .around-tablet {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }
  .between-tablet {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }
  .first-tablet {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    -webkit-order: -1;
            order: -1;
  }
  .last-tablet {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
            order: 1;
  }
}
@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }
  .col-desktop,
  .col-desktop-1,
  .col-desktop-2,
  .col-desktop-3,
  .col-desktop-4,
  .col-desktop-5,
  .col-desktop-6,
  .col-desktop-7,
  .col-desktop-8,
  .col-desktop-9,
  .col-desktop-10,
  .col-desktop-11,
  .col-desktop-12,
  .push-desktop-0,
  .push-desktop-1,
  .push-desktop-2,
  .push-desktop-3,
  .push-desktop-4,
  .push-desktop-5,
  .push-desktop-6,
  .push-desktop-7,
  .push-desktop-8,
  .push-desktop-9,
  .push-desktop-10,
  .push-desktop-11,
  .push-desktop-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .col-desktop {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  .col-desktop-1 {
    -ms-flex-preferred-size: 8.33333333%;
    -webkit-flex-basis: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-desktop-2 {
    -ms-flex-preferred-size: 16.66666667%;
    -webkit-flex-basis: 16.66666667%;
            flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-desktop-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .col-desktop-4 {
    -ms-flex-preferred-size: 33.33333333%;
    -webkit-flex-basis: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-desktop-5 {
    -ms-flex-preferred-size: 41.66666667%;
    -webkit-flex-basis: 41.66666667%;
            flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-desktop-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .col-desktop-7 {
    -ms-flex-preferred-size: 58.33333333%;
    -webkit-flex-basis: 58.33333333%;
            flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-desktop-8 {
    -ms-flex-preferred-size: 66.66666667%;
    -webkit-flex-basis: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-desktop-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .col-desktop-10 {
    -ms-flex-preferred-size: 83.33333333%;
    -webkit-flex-basis: 83.33333333%;
            flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-desktop-11 {
    -ms-flex-preferred-size: 91.66666667%;
    -webkit-flex-basis: 91.66666667%;
            flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-desktop-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  .push-desktop-0 {
    margin-left: 0;
  }
  .push-desktop-1 {
    margin-left: 8.33333333%;
  }
  .push-desktop-2 {
    margin-left: 16.66666667%;
  }
  .push-desktop-3 {
    margin-left: 25%;
  }
  .push-desktop-4 {
    margin-left: 33.33333333%;
  }
  .push-desktop-5 {
    margin-left: 41.66666667%;
  }
  .push-desktop-6 {
    margin-left: 50%;
  }
  .push-desktop-7 {
    margin-left: 58.33333333%;
  }
  .push-desktop-8 {
    margin-left: 66.66666667%;
  }
  .push-desktop-9 {
    margin-left: 75%;
  }
  .push-desktop-10 {
    margin-left: 83.33333333%;
  }
  .push-desktop-11 {
    margin-left: 91.66666667%;
  }
  .start-desktop {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-desktop {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    text-align: center;
  }
  .end-desktop {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-desktop {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
  .middle-desktop {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
  }
  .bottom-desktop {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end;
  }
  .around-desktop {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }
  .between-desktop {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }
  .first-desktop {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    -webkit-order: -1;
            order: -1;
  }
  .last-desktop {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
            order: 1;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 76rem;
  }
  .col-hd,
  .col-hd-1,
  .col-hd-2,
  .col-hd-3,
  .col-hd-4,
  .col-hd-5,
  .col-hd-6,
  .col-hd-7,
  .col-hd-8,
  .col-hd-9,
  .col-hd-10,
  .col-hd-11,
  .col-hd-12,
  .hd-push-0,
  .hd-push-1,
  .hd-push-2,
  .hd-push-3,
  .hd-push-4,
  .hd-push-5,
  .hd-push-6,
  .hd-push-7,
  .hd-push-8,
  .hd-push-9,
  .hd-push-10,
  .hd-push-11,
  .hd-push-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .col-hd {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  .col-hd-1 {
    -ms-flex-preferred-size: 8.33333333%;
    -webkit-flex-basis: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-hd-2 {
    -ms-flex-preferred-size: 16.66666667%;
    -webkit-flex-basis: 16.66666667%;
            flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-hd-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .col-hd-4 {
    -ms-flex-preferred-size: 33.33333333%;
    -webkit-flex-basis: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-hd-5 {
    -ms-flex-preferred-size: 41.66666667%;
    -webkit-flex-basis: 41.66666667%;
            flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-hd-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .col-hd-7 {
    -ms-flex-preferred-size: 58.33333333%;
    -webkit-flex-basis: 58.33333333%;
            flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-hd-8 {
    -ms-flex-preferred-size: 66.66666667%;
    -webkit-flex-basis: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-hd-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .col-hd-10 {
    -ms-flex-preferred-size: 83.33333333%;
    -webkit-flex-basis: 83.33333333%;
            flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-hd-11 {
    -ms-flex-preferred-size: 91.66666667%;
    -webkit-flex-basis: 91.66666667%;
            flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-hd-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
  .push-hd-0 {
    margin-left: 0;
  }
  .push-hd-1 {
    margin-left: 8.33333333%;
  }
  .push-hd-2 {
    margin-left: 16.66666667%;
  }
  .push-hd-3 {
    margin-left: 25%;
  }
  .push-hd-4 {
    margin-left: 33.33333333%;
  }
  .push-hd-5 {
    margin-left: 41.66666667%;
  }
  .push-hd-6 {
    margin-left: 50%;
  }
  .push-hd-7 {
    margin-left: 58.33333333%;
  }
  .push-hd-8 {
    margin-left: 66.66666667%;
  }
  .push-hd-9 {
    margin-left: 75%;
  }
  .push-hd-10 {
    margin-left: 83.33333333%;
  }
  .push-hd-11 {
    margin-left: 91.66666667%;
  }
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    text-align: center;
  }
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
  }
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end;
  }
  .around-lg {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    -webkit-order: -1;
            order: -1;
  }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
            order: 1;
  }
}
/* Foundation
 * =========================================================== */
/* ===========================================
 * Base print styling
 * Taken from HTML5BP (http://html5boilerplate.com/)
 * =========================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  *:before,
  *:after {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}
.hide-print {
  display: none;
}
.show-print {
  display: block;
}
.show-print-inline-block {
  display: inline-block;
}
.show-print-inline {
  display: inline;
}
/* ===========================================
 * Web Fonts
 * =========================================== */
/* ===========================================
 * Icons
 * =========================================== */
.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}
.icon--circle {
  border-radius: 50%;
  background-color: #4b7af7;
  color: #ffffff;
  padding: 2px;
}
.icon--menu-animated {
  width: 32px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
  cursor: pointer;
  pointer-events: none;
}
.icon--menu-bar {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #4b7af7;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
  border-radius: 2px;
}
.icon--menu-bar:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
.icon--menu-bar:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
.icon--menu-bar:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
.icon--menu-animated.is-open .icon--menu-bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -3px;
  left: 4px;
}
.icon--menu-animated.is-open .icon--menu-bar:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.icon--menu-animated.is-open .icon--menu-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 19px;
  left: 4px;
}
.icon-loader {
  display: inline-block;
  position: relative;
  margin: 0px auto;
  width: 36px;
}
.icon-loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.icon-loader__circular {
  -webkit-animation: rotate-loader 2s linear infinite;
          animation: rotate-loader 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.icon-loader__path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite, loader-dash-color 6s ease-in-out infinite;
          animation: loader-dash 1.5s ease-in-out infinite, loader-dash-color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@-webkit-keyframes rotate-loader {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-loader {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes loader-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes loader-dash-color {
  100%,
  0% {
    stroke: #e04c4c;
  }
  40% {
    stroke: #4b7af7;
  }
  66% {
    stroke: #6ebb6e;
  }
  80%,
  90% {
    stroke: #ffa530;
  }
}
@keyframes loader-dash-color {
  100%,
  0% {
    stroke: #e04c4c;
  }
  40% {
    stroke: #4b7af7;
  }
  66% {
    stroke: #6ebb6e;
  }
  80%,
  90% {
    stroke: #ffa530;
  }
}
/* ===========================================
 * Site typography
 * =========================================== */
h1,
h2,
h3,
h4,
h5,
h6,
.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.alpha small,
.beta small,
.gamma small,
.delta small,
.epsilon small,
.zeta small {
  font-weight: normal;
  line-height: 1;
}
h1,
.alpha,
h2,
.beta,
h3,
.gamma {
  margin-top: 25px;
  margin-bottom: 25px;
}
h1 small,
.alpha small,
h2 small,
.beta small,
h3 small,
.gamma small {
  font-size: 65%;
}
h4,
.delta,
h5,
.epsilon,
h6,
.zeta {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}
h4 small,
.delta small,
h5 small,
.epsilon small,
h6 small,
.zeta small {
  font-size: 75%;
}
h1,
.alpha {
  font-size: 36px;
  font-size: 2.25rem;
}
h2,
.beta {
  font-size: 30px;
  font-size: 1.875rem;
}
h3,
.gamma {
  font-size: 24px;
  font-size: 1.5rem;
}
h4,
.delta {
  font-size: 18px;
  font-size: 1.125rem;
}
h5,
.epsilon {
  font-size: 16px;
  font-size: 1rem;
}
h6,
.zeta {
  font-size: 12px;
  font-size: 0.75rem;
}
p {
  margin: 0 0 13px;
}
.lead {
  margin: 25px 0 100px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.4;
}
a {
  color: #4b7af7;
  text-decoration: none;
  -webkit-transition: all .3s;
          transition: all .3s;
}
a:hover {
  color: #1a56f5;
  outline: 0;
}
a:focus {
  color: purple;
  outline: 0;
}
a:active {
  color: #0731a2;
}
.link-arrow {
  font-size: 12px;
  font-size: 0.75rem;
}
.link-arrow:after {
  content: '\2192';
  font-family: 'Arial';
  position: relative;
  left: -5%;
  top: 2px;
  opacity: 0;
  -webkit-transition: all .3s;
          transition: all .3s;
}
.link-arrow:hover:after {
  opacity: 1;
  left: 3px;
}
.link-underline {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
  color: #555555;
}
.link-underline:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #ccc;
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}
.link-underline:hover {
  color: #555555;
}
.link-underline:hover:before {
  background: #4b7af7;
}
.link-underline-animated {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  -webkit-transition: all .3s linear;
          transition: all .3s linear;
  text-decoration: none;
  color: #000;
}
.link-underline-animated:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  -webkit-transition: width 0s ease;
          transition: width 0s ease;
}
.link-underline-animated:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: #4b7af7;
  -webkit-transition: width .3s ease;
          transition: width .3s ease;
}
.link-underline-animated:hover:before {
  width: 100%;
  background: #4b7af7;
  -webkit-transition: width .3s ease;
          transition: width .3s ease;
}
.link-underline-animated:hover:after {
  width: 100%;
  background: transparent;
  -webkit-transition: width 0s ease;
          transition: width 0s ease;
}
b,
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
small {
  font-size: 12px;
  font-size: 0.75rem;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted;
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
del,
.del {
  text-decoration: line-through;
}
/* ===========================================
 * General site styling
 * =========================================== */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures, contextual;
          font-variant-ligatures: common-ligatures, contextual;
  font-variant-numeric: oldstyle-nums, proportional-nums;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
          font-feature-settings: "kern", "liga", "clig", "calt";
  overflow-x: hidden;
}
::-moz-selection {
  background: #f74b59;
  color: #ffffff;
}
::selection {
  background: #f74b59;
  color: #ffffff;
}
[role="button"] {
  cursor: pointer;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #555555;
}
/* ===========================================
   Fallback for Internet Explorer 
   (this stylings are triggered conditionally)
   =========================================== */
.browsehappy {
  font-size: 16px;
  font-size: 1rem;
  zoom: 1;
  color: #7d4600;
  background: #ece344;
  padding: 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
.browsehappy:before,
.browsehappy:after {
  content: "";
  display: table;
}
.browsehappy:after {
  clear: both;
}
.browsehappy a {
  color: #633800;
  font-weight: 700;
  text-decoration: underline;
}
.browsehappy a:hover {
  text-decoration: none;
}
.browsehappy p {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.browsehappy__dismiss {
  display: inline-block;
  float: right;
}
.browsehappy__title {
  text-align: center;
}
.browsehappy__list {
  zoom: 1;
  margin: 30px 0;
  padding: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.browsehappy__list:before,
.browsehappy__list:after {
  content: "";
  display: table;
}
.browsehappy__list:after {
  clear: both;
}
.browsehappy__item {
  list-style-type: none;
  text-align: center;
}
@media screen and (min-width: 48em) {
  .browsehappy__item {
    float: left;
    width: 33.333%;
  }
}
.browsehappy__button.button {
  font-weight: bold;
  text-decoration: none;
  color: #633800;
  background-color: rgba(255, 255, 255, 0.5);
}
.browsehappy__button.button:hover {
  cursor: alias;
}
.browsehappy__button.button:hover,
.browsehappy__button.button:focus {
  color: #633800;
  background-color: rgba(255, 255, 255, 0.9);
}
.browsehappy__button.button:active {
  color: #633800;
  background-color: #ffffff;
}
@media screen and (max-width: 48em) {
  .browsehappy__button.button {
    margin-bottom: 15px;
  }
}
/* Components
 * =========================================================== */
/* ===========================================
 * Button styling
 * =========================================== */
.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  background-image: none;
  background-color: #f74b59;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 3px;
  white-space: nowrap;
  padding: 12px 20px;
  font-weight: normal;
}
.button:hover,
.button:focus {
  color: #ffffff;
  text-decoration: none;
}
.button:active {
  color: #ffffff;
  text-decoration: none;
}
.button--outline {
  border: 2px solid #f74b59;
  border-radius: 4px;
}
.button--link {
  color: #4b7af7;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding: 0;
}
.button--link:hover {
  text-decoration: none;
}
.button--link:active {
  outline: 0;
}
.disabled {
  pointer-events: none;
  opacity: .5;
}
/* ===========================================
 * Code (inline and block) styling
 * =========================================== */
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
pre {
  display: block;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #555555;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
/* ===========================================
 * Blockquote styling
 * =========================================== */
blockquote {
  font-size: 18px;
  font-size: 1.125rem;
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #f74b59;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote cite {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
  font-style: normal;
  color: #555555;
}
blockquote footer,
blockquote small {
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  line-height: 1.42857143;
}
blockquote footer:before,
blockquote small:before {
  content: '\2014 \00A0';
}
/* ===========================================
 * List styling
 * =========================================== */
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
ul li,
ol li {
  margin-bottom: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-unstyled li {
  margin: 0;
  padding: 0;
}
.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-inline li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
caption {
  font-size: 16px;
  font-size: 1rem;
  line-height: normal;
  font-weight: 700;
  text-align: left;
  padding: .5em 0;
  border-bottom: 1px solid #d7d7d7;
}
table {
  font-size: 12px;
  font-size: 0.75rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 1em 0;
  text-align: left;
}
table thead td,
table tbody td,
table tfoot td,
table thead th,
table tbody th,
table tfoot th {
  color: #585858;
  padding: .8em .5em;
  border-bottom: 1px solid #e9e9e9;
}
@media screen and (max-width: 48em) {
  .table-scroll-indicator {
    position: relative;
  }
  .table-scroll-indicator:before {
    content: '';
    position: absolute;
    z-index: 5;
    pointer-events: none;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-shadow: inset 20px 0px 20px -20px rgba(0, 0, 0, 0.2), inset -20px 0px 20px -20px rgba(0, 0, 0, 0.2);
  }
}
.table-wrapper-scrollable {
  overflow: auto;
}
@media screen and (max-width: 48em) {
  .table-wrapper-scrollable table {
    width: 1000px;
    margin: 0;
  }
}
/* ===========================================
 * Image styling
 * =========================================== */
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
img[data-src] {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
          transition: opacity 0.25s ease-in;
}
.image-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.image-left {
  float: left;
  margin-right: 20px;
}
.image-right {
  float: right;
  margin-left: 20px;
}
.svg-holder {
  display: none;
}
/* ===========================================
 * Video styling
 * =========================================== */
.video-aspect-ratio {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
.video-aspect-ratio iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ===========================================
 * Form styling
 * =========================================== */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
legend {
  font-size: 21px;
  font-size: 1.3125rem;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  line-height: inherit;
  border: 0;
}
input[type="text"],
input[type="search"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="passwod"],
input[type="tel"],
input[type="date"],
textarea {
  width: 100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="search"] {
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: 34px;
  }
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
textarea {
  resize: vertical;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: auto;
}
select {
  text-transform: none;
  height: 36px;
  padding: 0 .4em;
  background-color: #fff;
  border: 1px solid #ccc;
}
optgroup {
  font-weight: 700;
}
button {
  overflow: visible;
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
::-webkit-input-placeholder {
  color: #555555;
}
:-moz-placeholder {
  color: #555555;
}
::-moz-placeholder {
  color: #555555;
}
:-ms-input-placeholder {
  color: #555555;
}
/* ===========================================
 * Form foundation styling
 * =========================================== */
.form {
  zoom: 1;
}
.form:before,
.form:after {
  content: "";
  display: table;
}
.form:after {
  clear: both;
}
.form__input {
  width: 100%;
  padding: 5px 10px;
  line-height: 22px;
  border-radius: 3px;
  border: 1px solid #555555;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.form__input:hover {
  border-color: #a2a2a2;
}
.form__input:focus {
  border-color: #4b7af7;
}
.form__input--textarea {
  min-height: 150px;
  line-height: 1.5;
  padding-top: 15px;
}
.form__label:hover {
  cursor: pointer;
}
.form__button {
  font-weight: 700;
  margin-top: 50px;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.form__button--submit {
  background: #7c9ef9;
}
.form__button--submit:hover {
  background: #4b7af7;
}
.form__button--submit:focus {
  background: #3368f6;
}
.form__button--cancel {
  background: #e87777;
}
.form__button--cancel:hover {
  background: #e04c4c;
}
.form__button--cancel:focus {
  background: #dc3636;
}
.holder {
  zoom: 1;
  position: relative;
  margin-bottom: 25px;
}
.holder:before,
.holder:after {
  content: "";
  display: table;
}
.holder:after {
  clear: both;
}
.holder__half {
  width: 50%;
  float: left;
  position: relative;
}
.holder__half:nth-child(1) {
  padding-right: 15px;
}
.holder__half:nth-child(2) {
  padding-left: 15px;
}
/* Layout
 * =========================================================== */
/* ===========================================
   Header styling
   =========================================== */
.page-header {
  background: rgba(75, 122, 247, 0.92);
  position: relative;
}
.page-header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 50;
  height: 99px;
}
.page-header--animated {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page-header .container {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .page-header .container {
    width: 92%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.page-logo {
  text-indent: -99999px;
  direction: ltr;
  font-size: 0;
  padding: 27px 0;
  line-height: 1;
  display: inline-block;
  position: relative;
  z-index: 3;
}
.page-logo img {
  display: block;
}
@media screen and (max-width: 400px) {
  .page-logo img {
    display: block;
    max-width: 200px;
    height: auto;
  }
}
.page-nav {
  zoom: 1;
}
.page-nav:before,
.page-nav:after {
  content: "";
  display: table;
}
.page-nav:after {
  clear: both;
}
.page-nav__list {
  zoom: 1;
  list-style: none;
  margin: 0;
  padding: 27px 0;
  float: right;
}
.page-nav__list:before,
.page-nav__list:after {
  content: "";
  display: table;
}
.page-nav__list:after {
  clear: both;
}
@media screen and (max-width: 64em) {
  .page-nav__list {
    text-align: center;
    padding: 140px 0 15px;
    background: rgba(75, 122, 247, 0.9);
    display: none;
    float: none;
    position: absolute;
    top: -140px;
    left: 0;
    right: 0;
    z-index: 2;
  }
}
.page-nav__item {
  margin: 0;
  padding: 0 10px;
  display: block;
  line-height: 1;
  float: left;
}
.page-nav__item:first-child {
  padding-left: 0;
}
.page-nav__item:last-child {
  padding-right: 0;
}
@media screen and (min-width: 75em) {
  .page-nav__item {
    padding: 0 17px;
  }
}
@media screen and (max-width: 64em) {
  .page-nav__item {
    border-top: 1px dotted #dedddc;
    float: none;
    padding: 0;
  }
}
.page-nav__link {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  padding: 10px 0;
  display: block;
}
@media screen and (max-width: 64em) {
  .page-nav__link {
    padding: 20px 0;
  }
}
.page-nav__link--active {
  color: #f74b59;
}
.page-nav__link--active:hover {
  color: #f74b59;
}
.button-project.page-nav__link {
  color: #4b7af7;
  background-color: #ffffff;
  border-width: 2px;
  padding-left: 15px;
  padding-right: 15px;
}
.button-project.page-nav__link:hover {
  color: #4b7af7;
  border-color: #ffffff;
}
.button-project.page-nav__link:focus {
  color: #4b7af7;
  border-color: #1a56f5;
}
@media screen and (max-width: 64em) {
  .button-project.page-nav__link {
    margin: 15px;
    color: #4b7af7;
    background: #ffffff;
    border: none;
  }
  .button-project.page-nav__link:hover,
  .button-project.page-nav__link:focus {
    color: #ffffff;
  }
}
.is-visible {
  display: block !important;
}
.page-nav-button {
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: .05em;
  text-transform: uppercase;
  background: #ffffff;
  color: #4b7af7;
  border-width: 2px;
  border-color: #ffffff;
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 25px;
}
.page-nav-button:hover,
.page-nav-button:focus {
  color: #03c296;
}
@media screen and (min-width: 64em) {
  .page-nav-button {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .page-nav-button {
    top: 22px;
  }
}
/* ===========================================================
 * Page intro stylings
 * =========================================================== */
/* ===========================================================
 * Page content stylings
 * =========================================================== */
/* ===========================================
   Footer styling
   =========================================== */
.page-footer {
  background: #4b7af7;
}
.page-logo-footer {
  padding: 50px 0;
  text-align: center;
  border-bottom: 2px solid #ffffff;
}
.page-logo-footer__caption {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  margin-top: 15px;
}
.page-nav-footer__list {
  text-align: center;
  padding: 25px 0;
  margin-bottom: 0;
}
@media screen and (max-width: 48em) {
  .page-nav-footer__list {
    padding-bottom: 0;
  }
}
.page-nav-footer__item {
  display: inline-block;
  padding: 0  20px;
}
@media screen and (max-width: 48em) {
  .page-nav-footer__item {
    margin-bottom: 25px;
  }
}
.page-nav-footer__link {
  font-size: 16px;
  font-size: 1rem;
  color: #ffffff;
  padding: 10px 0;
  opacity: .6;
}
.page-nav-footer__link:hover,
.page-nav-footer__link:focus {
  opacity: 1;
  color: #ffffff;
}
.imprint {
  zoom: 1;
  font-size: 14px;
  font-size: 0.875rem;
  color: #ffffff;
  padding: 15px 0;
}
.imprint:before,
.imprint:after {
  content: "";
  display: table;
}
.imprint:after {
  clear: both;
}
@media screen and (max-width: 48em) {
  .imprint {
    text-align: center;
  }
}
.imprint__copyrights {
  display: inline-block;
}
@media screen and (min-width: 48em) {
  .imprint__copyrights {
    text-align: center;
  }
}
.imprint__nav {
  text-align: center;
}
@media screen and (min-width: 48em) {
  .imprint__nav {
    float: right;
  }
}
.imprint__list {
  text-align: center;
  list-style-type: none;
  padding-left: 0;
}
@media screen and (min-width: 48em) {
  .imprint__list {
    margin-bottom: 0;
  }
}
.imprint__item {
  display: inline-block;
  padding: 0  10px;
}
.imprint__link {
  color: #ffffff;
  opacity: .6;
}
.imprint__link:hover,
.imprint__link:focus {
  opacity: 1;
  color: #ffffff;
}
/* Vendor
 * =========================================================== */
