/* ===========================================
   Fallback for Internet Explorer 
   (this stylings are triggered conditionally)
   =========================================== */

// Notification banner
.browsehappy {
	.font-size(16);
	.clearfix();
	color: darken(@color-alert, 35%);
	background: #ece344;
	padding: 20px;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: @z-index-overlay;

	a {
		color: darken(@color-alert, 40%);
		font-weight: @font-weight-bold;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}

	p {
		text-align: center;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	&__dismiss {
		display: inline-block;
		float: right;
	}

	&__title {
		text-align: center;
	}

	&__list {
		.clearfix();
		margin: 30px 0;
		padding: 0;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	&__item {
		list-style-type: none;
		text-align: center;
		@media screen and (min-width: @tablet-breakpoint) {
			float: left;
			width: 33.333%;
		}		
	}

	&__button.button {
		font-weight: bold;
		text-decoration: none;
		color: darken(@color-alert, 40%);
		background-color: fade(@color-white, 50%);
		&:hover {
			cursor: alias;
		}
		&:hover,
	  &:focus {
	    color: darken(@color-alert, 40%);
			background-color: fade(@color-white, 90%);
	  }
	  &:active {
	    color: darken(@color-alert, 40%);
			background-color: @color-white;
	  }
	  @media screen and (max-width: @tablet-breakpoint) {
			margin-bottom: 15px;
	  }
	}

}

// Stylings for IE < v9
.lt-ie9 {

}