/* ===========================================
   Tooltip styling
   =========================================== */

// Usage:
// <a href="#" data-tooltip="Tooltip top" data-tooltip-style="right/bottom/left + multiline + no-arrow"> Tooltip example </a>
// Tooltip top is default, it will work without `data-tooltip-style` attribute.
// If the tooltip contains multiple lines `multiline` attribute needs to be added along with the tooltip position.
// Tooltip whon't show arrow if `no-arrow` attribute value is added.

// Variables
// PS: If the tooltips are going to be used I suggest moving the tooltip variables
// inside sourse/less/helpers/_variables.less file for consistency sake.

// Tooltip text color
@tooltip-color:               #fff;

// Tooltip background color
@tooltip-background:          fade(#000, 90%);

// @z-index-tooltip is defined in _variables.less file

// Styles for the element that has a tooltip
[data-tooltip] {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 50%;
    width: 0;
    height: 0;
    z-index: @z-index-tooltip + 1;

    border-style: solid;
    border-width: 4px;
    border-bottom-width: 0;
    border-color: transparent;
    border-top-color: @tooltip-background;
    
    opacity: 0;
    transform: translate(-50%, calc(-50% - 6px));
    transition: opacity 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0s, 
                transform 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &:after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    bottom: 100%;
    z-index: @z-index-tooltip;

    box-sizing: border-box;
    max-width: 320px;
    
    font-style: normal;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;

    color: @tooltip-color;
    background: @tooltip-background;
    pointer-events: none;
    white-space: nowrap;
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
    opacity: 0;

    transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1), 
                transform 0.3s cubic-bezier(0.73, 0.01, 0, 1);
    transform: translate(-50%, 12px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &:hover,
  &:focus {

    &:before,
    &:after {
      opacity: 1;
    }
  }

  &:hover,
  &:focus {

    &:before {
      transition: opacity 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0.1s, 
                  transform 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0.1s;
      transform: translate(-50%, calc(-50% - 2px));
    }

    &:after {
      transform: translate(-50%, -6px);
    }
  }


  // Right tooltip settings
  &[data-tooltip-style*='right'] {

    &:before {
      border-color: transparent;
      border-right-color: @tooltip-background;
      border-style: solid;
      border-width: 4px;
      border-left-width: 0;
      left: auto;
      right: -9px;
      top: 50%;
      transform: translate(calc(-50% + 7px), -50%);
    }

    &:after {
      top: 50%;
      left: 100%;
      bottom: auto;
      transform: translate(-12px, -50%);
    }

    &:hover, 
    &:focus {

      &:before {
        transform: translate(calc(-50% + 3px), -50%);
      }

      &:after {
        transform: translate(7px, -50%);
      }
    }

  }

  // Bottom tooltip settings
  &[data-tooltip-style*='bottom'] {

    &:before {
      top: auto;
      bottom: -8px;
      left: 50%;

      border-color: transparent;
      border-bottom-color: @tooltip-background;
      border-width: 4px;
      border-top-width: 0;
      border-style: solid;
      transform: translate(-50%, calc(-50% + 6px));
    }

    &:after {
      top: 100%;
      left: 50%;
      bottom: auto;
      transform: translate(-50%, -12px);
    }

    &:hover, 
    &:focus {

      &:before {
        transform: translate(-50%, calc(-50% + 2px));
      }

      &:after {
        transform: translate(-50%, 6px);
      }
    }

  }

  // Left tooltip settings
  &[data-tooltip-style*='left'] {

    &:before {
      left: -5px;
      top: 50%;
      width: 0;
      height: 0;

      border-color: transparent;
      border-left-color: @tooltip-background;
      border-width: 4px;
      border-right-width: 0;
      border-style: solid;
      transform: translate(calc(-50% - 8px), -50%);
    }

    &:after {
      top: 50%;
      right: 100%;
      bottom: auto;
      left: auto;
      transform: translate(12px, -50%);
    }

    &:hover, 
    &:focus {

      &:before {
        transform: translate(calc(-50% - 3px), -50%);
      }

      &:after {
        transform: translate(-7px, -50%);
      }
    }

  }

  // Multiline tooltip settings
  &[data-tooltip-style*='multiline'] {

    &:after {
      word-break: break-word;
      white-space: normal;
      min-width: 180px;
      text-overflow: clip;
    }
  }

  // No Arrow {
  &[data-tootik-conf*='no-arrow'] {

    &:before {
      display: none;
    }

  }

  // Hide if tooltip doesn't have any message
  &[data-tooltip='']:before, 
  &[data-tooltip='']:after {
    display: none;
  }
}