<footer id="page-footer" class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<figure class="page-logo-footer">
					<a href="#"><img src="http://placehold.it/40x40/fff" alt="" width="40" height="40"></a>
					<figcaption class="page-logo-footer__caption">
						Lorem ipsum dolor sit amet, consectetur.
					</figcaption>
				</figure>

				<div class="imprint">

					<nav class="imprint__nav">
						<ul class="imprint__list">
							<li class="imprint__item"><a href="#" target="_blank" title="" class="imprint__link">LinkedIn</a></li><!-- 
							 --><li class="imprint__item"><a href="#" target="_blank" title="" class="imprint__link">Company <small>(pdf)</small></a></li><!-- 
							 --><li class="imprint__item"><a href="#" title="" class="imprint__link">Contact</a></li>
						</ul>
					</nav>

					<span class="imprint__copyrights">&copy; Lifeboat. All rights reserved.</span>

				</div>

			</div>
		</div> 
	</div> <!-- / page-footer-main -->

</footer> <!-- / page-footer -->