<header id="header" class="page-header">
	<div class="logo">
		<img src="#" alt="This is a logo">
	</div>
	<nav>
		<ul>
			<li><a href="#" title="Homepage">Homepage</a></li>
		</ul>
	</nav>
</header><!-- / page-header -->